@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'VT323', monospace;
    font-size: 24px;
    box-sizing: border-box;
    color: #000;
    background-color: rgba(235, 215, 215, 0.9);
    scroll-behavior: smooth;
}

.gameBoard {
    max-width: 1024px;
    margin: 1.25rem auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.gameBoard__title {
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.gameBoard__description {
    line-height: 2rem;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
}

.gameBoard__restart-btn {
    width: 250px;
    height: 40px;
    border: 0.21rem solid #f88c8c;
    background-color: #f88c8c;
    font-size: 1rem;
    font-family: 'VT323', monospace;
    margin-bottom: 0.7rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.gameBoard__players {
    margin-bottom: 1rem;
}

.gameBoard__scorePanel {
    width: 250px;
    height: 100px;
    border: 0.21rem solid #f88c8c;
    margin: 0 auto;
    font-size: 3.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.gameBoard__icon {
    width: 200px;
    border: 0.21rem solid #fff;
    margin: 2.1rem 0.7rem 0.7rem 1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.gameBoard__choice:hover {
    border: 5px solid #f88c8c;
}

.gameBoard__gameText-msg {
    font-size: 1.25rem;
}

.gameBoard__sounds {
    visibility: hidden;
}

@media screen and (max-width: 414px) {
    .gameBoard {
        padding: 0;
    }
    .gameBoard__title {
        margin: 1rem;
        font-size: 2rem;
    }
    .gameBoard__description {
        line-height: 1rem;
    }
    .gameBoard__scorePanel {
        height: 2.1rem;
        font-size: 1.67rem;
    }
    .gameBoard__gameText-msg {
        font-size: 1rem;
    }
    .gameBoard__icon {
        width: 114px;
        margin: 0;
    }
}

@media screen and (max-width: 360px) {
    .gameBoard {
        margin: 0.33rem;
        padding: 0;
    }
    .gameBoard__title {
        font-size: 1.5rem;
        margin-bottom: 0.67rem;
    }
    .gameBoard__description {
        font-size: 0.75rem;
        letter-spacing: 0px;
        text-align: justify;
    }
    .gameBoard__players {
        margin-bottom: 0.33rem;
    }
    .gameBoard__restart-btn {
        margin-bottom: 0.33rem;
    }
    .gameBoard__scorePanel {
        height: 50px;
        font-size: 1.67rem;
    }
    .gameBoard__gameText-msg {
        font-size: 1rem;
    }
    .gameBoard__icon {
        width: 94px;
    }
}